<div class="container t-wallet">
    <h1 class="text-center">{{title}}</h1>
    <div class="btn-group col-sm-12">
        <a [routerLink]="['/']" class="btn btn-primary">Home</a>
        <button class="btn btn-default" (click)="formVisible = true">Create Account</button>
        <button class="btn btn-default" (click)="getBalance(user.pkf.keyFile.address)">Balance</button>
    </div>
    <div class="">
        <h5>Ethereum address: {{user.pkf.keyFile.address}}</h5>
        <h6>{{account.balance}}</h6>
    </div>
    <form [formGroup]="walletForm" class="form-horisontal t-form" *ngIf="formVisible">
        <div class="form-group">
            <label for="passphrase" class="col-md-4 control-label">Passphrase</label>
            <div class="col-md-6">
                <input id="passphrase" type="text" name="passphrase" formControlName="tpassphrase"
                       autofocus="autofocus" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="cpassphrase" class="col-md-4 control-label">Confirm passphrase</label>
            <div class="col-md-6">
                <input id="cpassphrase" type="text" name="cpassphrase" formControlName="tcpassphrase"
                       autofocus="autofocus" class="form-control">
            </div>
        </div>
        <div class="form-group text-center">
            <div class="btn btn-primary col-sm-4"
                 (click)="createAccount()">Create
            </div>
        </div>
        <div class="form-group text-center">
            <h5>{{error}}</h5>
        </div>
    </form>
</div>