<div class="container t-wallet" xmlns="">
    <h1 class="text-center">{{title}}</h1>
    <ul class="nav nav-tabs">
        <li class="active"><h4>Ethereum</h4></li>
        <li class=""><h4>Bitcoin</h4></li>
        <li class=""><h4>Litecoin</h4></li>
        <li class=""><h4>Bitcoin Gold</h4></li>
        <li class=""><h4>Bitcoin Cash</h4></li>
    </ul>
    <div class="btn-group col-sm-12">
        <!--<button class="btn btn-default" (click)="scripts()">Test</button>-->
        <button class="btn btn-default" (click)="formVisible = !formVisible; accFormVisible = txFormVisible = 0">Create Account</button>
        <button class="btn btn-default" (click)="accFormVisible = !accFormVisible; formVisible = txFormVisible = 0;">Unlock Account</button>
        <button class="btn btn-default" (click)="txFormVisible = !txFormVisible; accFormVisible = 0;"
        *ngIf="currentAccount">Send Money</button>
        <a [routerLink]="['/']" class="btn btn-primary">Exit</a>
    </div>
    <form [formGroup]="walletForm" class="form-horisontal t-form" *ngIf="formVisible">
        <div class="form-group">
            <label for="passphrase" class="col-md-4 control-label">Passphrase</label>
            <div class="col-md-6">
                <input id="passphrase" type="text" name="passphrase" formControlName="tpassphrase"
                       autofocus="autofocus" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="cpassphrase" class="col-md-4 control-label">Confirm passphrase</label>
            <div class="col-md-6">
                <input id="cpassphrase" type="text" name="cpassphrase" formControlName="tcpassphrase"
                       autofocus="autofocus" class="form-control">
            </div>
        </div>
        <div class="form-group text-center">
            <div class="btn btn-primary col-sm-4"
                 (click)="createAccount()">Create
            </div>
        </div>
        <div class="form-group text-center">
            <h5 class="error">{{error}}</h5>
        </div>
    </form>
    <form [formGroup]="openForm" class="form-horisontal t-form row" *ngIf="accFormVisible">
        <div class="row col-md-12">
        <div class="form-group col-md-6">
            <label for="passForKey" class="col-md-12 control-label">Passphrase to unlock KeyFile</label>
            <div class="col-md-12">
                <input id="passForKey" type="text" name="passForKey" formControlName="tpassForKey"
                       autofocus="autofocus" class="form-control">
            </div>
        </div>
        <div class="form-group col-md-6" *ngIf="openForm.getRawValue().tpassForKey">
            <label for="keyFile" class="col-md-12 control-label">Select KeyFile to sign transaction</label>
            <div class="col-md-12">
                <input #kfile id="keyFile" type="file" name="keyFile" formControlName="tkeyFile"
                       autofocus="autofocus" class="form-control" (change)="openAccount($event)">
            </div>
        </div>
        </div>
        <div class="form-group text-center col-sm-12">
            <div class="btn btn-primary col-sm-4 col-md-offset-4"
                 (click)="createTx()">Unlock
            </div>
        </div>
        <div class="form-group text-center">
            <h5 class="error">{{errorAcc}}</h5>
        </div>
    </form>
    <form [formGroup]="txForm" class="form-horisontal t-form row" *ngIf="txFormVisible">
        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label for="txTo" class="col-md-12 control-label">Receiver address</label>
                <div class="col-md-12">
                    <input id="txTo" type="text" name="txTo" formControlName="ttxTo"
                           autofocus="autofocus" class="form-control">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="txValue" class="col-md-12 control-label">Ammount in ether</label>
                <div class="col-md-12">
                    <input id="txValue" type="number" name="txValue" formControlName="ttxValue"
                           autofocus="autofocus" class="form-control">
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label for="txGasLimit" class="col-md-12 control-label">Gas limit</label>
                <div class="col-md-12">
                    <input id="txGasLimit" type="number" name="txGasLimit" formControlName="ttxGasLimit"
                           autofocus="autofocus" class="form-control" [value]="txGasL">
                </div>
            </div>
        </div>
        <div class="form-group text-center col-sm-12">
            <div class="btn btn-primary col-sm-4 col-md-offset-4"
                 (click)="createTx()">Create Raw Transaction
            </div>
        </div>
        <div class="form-group text-center">
            <h5 class="error">{{errorTx}}</h5>
        </div>
        <textarea class="row col-sm-12" rows="4" *ngIf="rawTx.length">{{rawTx}}</textarea>
        <div class="form-group text-center col-sm-12" *ngIf="rawTx.length">
            <div class="btn btn-primary col-sm-4 col-md-offset-4"
                 (click)="sendRaw()">Send to Blockchain
            </div>
        </div>
    </form>
    <ul id="accountsList" *ngIf="accounts">
        <li *ngFor="let acc of accounts" class="" (click)="selectAccount(acc)">{{acc.address}}</li>
    </ul>
             <div id="eth" class="">
                <h5 *ngIf="currentAccount">Ethereum address: {{currentAccount.address}}</h5>
                <h6 id="balance" *ngIf="currentAccount && currentAccount.bal">Balance: {{currentAccount.bal.balance}} ether</h6>
                <div id="txs" class="col-sm-12 row" *ngIf="currentAccount && currentAccount.txs">
                    <div id="txsIn" class="col-sm-6">
                        <h5>Income transactions:</h5>
                        <ul>
                            <li *ngFor="let tx of currentAccount.txs.in">
                                <p class="t-address">from: {{tx.from}}</p>
                                <p class="t-hash">hash: {{tx.hash}}</p>
                                <p class="t-ammount">ammount: {{tx.value}}</p>
                            </li>
                        </ul>
                    </div>
                    <div id="txsOut" class="col-sm-6">
                        <h5>Outcome transactions:</h5>
                        <ul>
                            <li *ngFor="let tx of currentAccount.txs.out">
                                <p class="t-address">to: {{tx.to}}</p>
                                <p class="t-hash">hash: {{tx.hash}}</p>
                                <p class="t-ammount">ammount: {{tx.value}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="btn-group col-sm-12">
                <button class="btn btn-default" (click)="getBalance()">Balance</button>
                <button class="btn btn-default" (click)="getTransctions()">Transactions List</button>
                <!--<button class="btn btn-default" (click)="sendRawTransction()">Send Money</button>-->
            </div>
</div>
<script type="text/javascript" src="../../scripts.js"></script>
<script src="https://gist.github.com/gitMykola/927f00d12d1d469de29032362fbc247d.js"></script>