<div class="container t-wallet" xmlns="">
    <h1 class="text-center">Start</h1>
    <ul class="nav nav-tabs">
        <li class="active"><h4>{{trans.translate('currencies.eth_name')}}</h4></li>
        <li class=""><h4>{{trans.translate('currencies.btc_name')}}</h4></li>
        <li class=""><h4>{{trans.translate('currencies.ltc_name')}}</h4></li>
        <li class=""><h4>{{trans.translate('currencies.btg_name')}}</h4></li>
        <li class=""><h4>{{trans.translate('currencies.bch_name')}}</h4></li>
    </ul>
</div>