<div class="select-lang" ngbDropdown>
    <p class="btn dropdown-toggle"
       id="dropdownMenuButton" ngbDropdownToggle>
    </p>

    <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item" *ngFor="let lang of langs" (click)="trans.set(lang.symbol)">
            {{lang.name}}</p>
    </div>
</div>
<div class="container t-wallet">
    <div id="t-tabset-header">
        <ul id="t-tabset" class="t-tabset">
            <li class="t-tabset-item"
                    (click)="tabSelect($event, currency.symbol)" *ngFor="let currency of currencies">
                <a>{{trans.translate('currencies.' + currency.symbol + '_name')}}</a>
            </li>
        </ul>
        <p (click)="left()" name="prev" class="t-step"><span class="fa">&#xf104;</span></p>
        <p (click)="right()" name="next" class="t-step"><span class="fa">&#xf105;</span></p>
    </div>
    <div class="t-tabset-content" *ngFor="let curr of currencies">
        <div class="t-content" id="{{curr.symbol}}">
            <label class="">{{trans.translate('app.network')}}
                <select (click)="selectNetwork($event.target.value, curr.symbol)">
                    <option *ngIf="networks[curr.symbol]"
                            selected label={{networks[curr.symbol]}} hidden></option>
                    <option *ngFor="let net of curr.networks"
                            label={{net}} value={{net}}></option>
                </select>
            </label>
            <button class="btn"
                    (click)="addAccount(curr.symbol, networks[curr.symbol])">{{trans.translate('buttons.add_account')}}
            </button>
            <ngb-accordion>
                <ngb-panel *ngFor="let acc of accounts[curr.symbol]">
                    <ng-template *ngIf="acc.symbol === curr.symbol" ngbPanelTitle>
                        <div class="row" (click)="get(acc)">
                        <p class="t-long-string col-sm-8" title="{{acc.address}}">
                            {{acc.address}}
                        </p>
                        <p class="t-long-string col-sm-4" title="{{acc.balance}}">
                            {{acc.balance}}
                        </p>

                        </div>
                    </ng-template>
                    <ng-template *ngIf="acc.symbol === curr.symbol" ngbPanelContent>
                        <div class="btn-group col-sm-12 t-txpanel">
                            <button (click)="aForm.openSend(acc)" class="btn fa" title="{{trans.translate('labels.send_money')}}">
                                <span>{{trans.translate('labels.send_money')}}</span>
                                <span>
                                        &#xf0d6;</span>
                            </button>
                            <button class="btn fa" title="{{trans.translate('labels.refresh')}}"
                                    (click)="get(acc)">
                                <span>{{trans.translate('labels.refresh')}}</span>
                                <span>
                                        &#xf021;</span>
                            </button>
                        </div>
                            <div class="txs-header row">
                                <p class="col-12 col-md-4" name="hash">{{trans.translate('labels.hash')}}/Id</p>
                                <p class="col-3 col-md-2" name="date">{{trans.translate('labels.date')}}</p>
                                <p class="col-3 col-md-2" name="time">{{trans.translate('labels.time')}}</p>
                                <p class="col-6 col-md-4 " name="ammount">{{trans.translate('labels.ammount')}}</p>
                            </div>
                            <div class="txs-row row" *ngFor="let tx of acc.transactions">
                                <p class="col-12 col-md-4 t-long-string" name="hash"
                                   title={{tx.hash}}>{{tx.hash}}</p>
                                <p class="col-3 col-md-2" name="date">{{toDateString(tx.time)}}</p>
                                <p class="col-3 col-md-2" name="time">{{toTimeString(tx.time)}}</p>
                                <p class="col-6 col-md-4 t-long-string" name="ammount">{{tx.vout[0].value}}</p>
                            </div>
                        <div *ngIf="acc.symbol !== 'ETH'">

                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
    <!--<ngb-tabset justify="justified" (tabChange)="sc($event)">
        <ngb-tab *ngFor="let currency of currencies"
                 id="{{currency.symbol}}" title="{{trans.translate('currencies.' + currency.symbol + '_name')}}">
            <ng-template ngbTabContent>
                <label class="">{{trans.translate('app.network')}}
                    <select (click)="selectNetwork($event.target.value, currency.symbol)">
                        <option *ngIf="networks[currency.symbol]"
                                selected label={{networks[currency.symbol]}} hidden></option>
                        <option *ngFor="let net of currency.networks"
                                label={{net}} value={{net}}></option>
                    </select>
                </label>
                <button class="btn"
                        (click)="addAccount(currency.symbol, networks[currency.symbol])">{{trans.translate('buttons.add_account')}}
                </button>
                <ngb-accordion>
                    <ngb-panel *ngFor="let acc of accounts[currency.symbol]">
                        <ng-template *ngIf="acc.symbol === currency.symbol" ngbPanelTitle>
                            <p (click)="getTxs($event, acc)">Address: {{acc.address}}
                            </p>
                        </ng-template>
                        <ng-template *ngIf="acc.symbol === currency.symbol" ngbPanelContent>
                            <div class="txs-header row">
                                <p class="col-12 col-md-4" name="hash">{{trans.translate('labels.hash')}}</p>
                                <p class="col-3 col-md-2" name="date">{{trans.translate('labels.date')}}</p>
                                <p class="col-3 col-md-2" name="time">{{trans.translate('labels.time')}}</p>
                                <p class="col-6 col-md-4" name="ammount">{{trans.translate('labels.ammount')}}</p>
                            </div>
                               <div class="txs-row row" *ngFor="let tx of acc.transactions">
                                   <p class="col-12 col-md-4" name="hash" title={{tx.hash}}>{{tx.short_hash}}</p>
                                   <p class="col-3 col-md-2" name="date">{{toDateString(tx.time)}}</p>
                                   <p class="col-3 col-md-2" name="time">{{toTimeString(tx.time)}}</p>
                                   <p class="col-6 col-md-4" name="ammount">{{tx.value}}</p>
                                </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>-->
    <h5 class="selected-currency">{{selectedCurrency}}</h5>
    <form [formGroup]="addForm" class="t-add-account" *ngIf="aForm.enable">
        <div  class="col-sm-6 offset-sm-3">
            <h3 *ngIf="wait">
                {{trans.translate('info.please_wait')}}
            </h3>
            <div id="step1" class="col-sm-12 t-step-item" *ngIf="aForm.step === 1">
                <h4 class="info col-sm-12">{{trans.translate('info.open_create_account')}}</h4>
                <label>{{trans.translate('buttons.new_account')}}
                    <input type="checkbox" formControlName="new" value="false"
                    />
                </label>
                <!--<label>{{trans.translate('buttons.open_account')}}
                    <input type="radio"
                           />
                </label>-->
            </div>
            <div id="step2" class="col-sm-12 t-step-item" *ngIf="aForm.step === 2">
                <h4 class="info col-sm-12" *ngIf="!addForm.get('new').value">
                    {{trans.translate('info.input_passphrase_open_account')}}</h4>
                <h4 class="info col-sm-12" *ngIf="addForm.get('new').value && !wait">
                    {{trans.translate('info.input_passphrase_new_account')}}</h4>
                <label class="col-12">{{trans.translate('labels.passphrase')}}
                    <input class="col-12" type="password" autofocus
                           name="passphrase" formControlName="passphrase"
                           (input)="aForm.validation()"/>
                </label>
                <label class="col-12" *ngIf="addForm.get('new').value">{{trans.translate('labels.cpass')}}
                    <input class="col-12" type="password" name="cpass" formControlName="cpass"
                           (input)="aForm.validation()"/>
                </label>
            </div>
            <div id="step3" class="col-sm-12 t-step-item" *ngIf="aForm.step === 3">
                <label *ngIf="!addForm.get('new').value && !wait">
                    {{trans.translate('labels.key_file')}}
                    <input type="file" name="cpass" formControlName="keyfile"
                           (change)="aForm.open($event)"/>
                </label>
            </div>
            <div id="step4" class="col-sm-12 t-step-item" *ngIf="aForm.step === 4">
                <h3>{{trans.translate('labels.sender') + ': '}}
                    <h6 class="t-long-string">{{aForm.sender.address}}</h6>
                    {{' (' + aForm.sender.symbol + '/' +
                    aForm.sender.network + ')'}}</h3>
                <h4 class="info col-sm-12">
                    {{trans.translate('info.fill_transaction_data')}}</h4>
                    <label class="col-12">{{trans.translate('labels.receiver')}}
                        <input class="col-12" type="text" name="receiver" autofocus
                               formControlName="receiver"/>
                    </label>
                    <label class="col-6 offset-6">{{trans.translate('labels.ammount')}}
                        <input class="col-sm-12" type="number" name="ammount"
                               formControlName="ammount"/>
                    </label>

                <label class="col-sm-12">{{trans.translate('labels.advanced')}}
                    <input type="checkbox" formControlName="advanced" value="false"
                    />
                </label>
                <label class="col-6 offset-6" *ngIf="addForm.get('advanced').value"
                    >{{trans.translate('labels.gas')}}
                    <input class="col-sm-12" type="number" name="gas" formControlName="gas"/>
                </label>
            </div>
            <div id="step5" class="col-sm-12 t-step-item" *ngIf="aForm.step === 5 && !wait">
                <h3>{{trans.translate('labels.sender') + ': '}}
                    <h6 class="t-long-string">{{aForm.sender.address}}</h6>
                    {{' (' + aForm.sender.symbol + '/' +
                    aForm.sender.network + ')'}}</h3>
                <h4 class="info col-12">
                    {{trans.translate('info.raw_transaction')}}</h4>
                <textarea class="col-12" rows="5">{{aForm.rawTx}}</textarea>
            </div>
            <div id="step6" class="col-sm-12 t-step-item" *ngIf="aForm.step === 6">
                <h3>{{trans.translate('labels.sender') + ': '}}
                    <h6 class="t-long-string">{{aForm.sender.address}}</h6>
                    {{' (' + aForm.sender.symbol + '/' +
                    aForm.sender.network + ')'}}</h3>
                <h4 class="info col-12">
                    {{trans.translate('labels.hash')}}</h4>
                <textarea class="col-12" rows="3">{{aForm.txHash}}</textarea>
            </div>
            <div class="row">
                <button name="back" (click)="aForm.makeStep($event.target)"
                        class="btn col-2 offset-2" [disabled]="!aForm.back || wait">Back</button>
                <button name="next" (click)="aForm.makeStep($event.target)"
                        class="btn col-2 offset-4" [disabled]="!aForm.next || wait">Next</button>
            </div>
            <div name="error" class="error" *ngIf="aForm.error" title={{aForm.error}}>{{aForm.error}}</div>
            <div class="turnoff" (click)="aForm.close()">X</div>
        </div>
    </form>
</div>


