.nav {
  border: 1px solid #000000;
}
.select-lang {
  position: absolute;
  top: 0;
  right: 130px;
}
#t-tabset-header {
  display: inline-block;
  position: relative;
  overflow-x: hidden;
  height: 60px;
  width: 100%;
}
#t-tabset-header .t-tabset {
  list-style: none!important;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
}
#t-tabset-header .t-tabset .active {
  border-bottom: 1px solid transparent;
}
#t-tabset-header .t-tabset .active a {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#t-tabset-header .t-tabset .active:hover a {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#t-tabset-header .t-tabset li {
  text-align: center;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding: 0;
  flex: 1 1 auto;
}
#t-tabset-header .t-tabset li a {
  display: block;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: -1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#t-tabset-header .t-tabset li:hover a {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.t-visible {
  display: inline-block !important;
}
.t-step {
  display: none;
  position: absolute;
  background: #eee;
  font-size: xx-large;
  cursor: pointer;
  margin: 0;
  padding: 0 10px;
  opacity: 0.3;
}
.t-step:hover {
  opacity: 0.8;
}
P[name="prev"] {
  left: 0;
}
P[name="next"] {
  right: 0;
}
.t-tabset-content .t-content {
  display: none;
}
.t-long-string {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.t-txpanel {
  display: flex;
  justify-content: flex-end;
}
