/* You can add global styles to this file, and also import other style files */
@import './assets/animations.css';
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

h1,h2,h3,h4,h5,h6,label{
    padding: 10px 5px 0 5px!important;
}
.btn {
    margin: 5px 0;
    cursor: pointer;
}
.btn-group {
    padding:0 !important;
}
.nav-tabs LI{
    color: darkgray;
    cursor: pointer;
}
.nav-tabs LI:hover{
    color: #000000;
}
.nav-tabs .active {
    background: lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #000;
}
#eth DIV{
    padding:0;
}
#txs UL{
    list-style: none;
    padding:0;
    max-height: 300px;
    overflow-y: scroll;
}
#txs UL LI p{
    font-size: 20px;
    margin: 0;
    padding: 1px;
}
#txs UL LI .t-address, #txs UL LI .t-hash{
    overflow-x: scroll;
    font-size: 12px;
}
#accountsList{
    list-style: none;
}
#accountsList LI{
    cursor: pointer;
}
#accountsList LI:hover{
    color: darkgray;
}
#accountsList LI .active{
    background: lightgray;
}
.error {
    color: red;
}
.select-lang {
    list-style: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: 0!important;
    padding: 0;
}
.select-lang .lang-item {
    margin: 0;
    padding: 3px 10px;
    transition: background 0.3s;
}
.select-lang .lang-item:hover {
    background: #999;
}
.t-wallet {
    margin-top: 55px;
    margin-bottom: 20px;
}
.t-wallet select{
    border: none;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 10px;
    background: #eeeeee;
    transition: background 0.3s;
    cursor: pointer;
}
.t-wallet select:hover {
    background: #dddddd;
}
.t-wallet .btn {
    padding: 2px 5px;
}
.selected-currency {
    position: fixed;
    top: 10px;
    left: 10px;
    border: none;
    color: #ccc;
    border-radius: 50%;
    padding: 10px!important;
    background: rgba(0,0,0,0.1);
}
.t-add-account {
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    min-height: 100%;
    padding:50px 5px 5px 5px;
    transition: background 0.5s;
    background: #333;
    background: rgba(0,0,0,0.8);
}
.t-add-account > DIV {
    background: lightgray;
}
.t-add-account > DIV BUTTON {

}
.t-add-account .turnoff {
    position:fixed;
    top:10px;
    right: 20px;
    color: lightgray;
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
}
.txs-header, .txs-row{
    display: block;
    padding: 0!important;
    margin: 0!important;
}
.txs-header P, .txs-row P{
    padding: 2px;
    margin: 0;
}
.txs-header P {
    text-align: center;
    border: 1px solid #dddddd;
}
.txs-row P {
    text-align: right;
    border: 1px solid #dddddd;
}
.txs-row P[name="hash"] {
    text-align: left;
}
.t-hidden {
    opacity: 0;
}
.t-fadein {
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-direction: normal;
    animation-iteration-count: 1;
}